{% extends 'base.html' %}
{% block content %}
<h3 class="my-3">Comunique-se!</h3>
<p class="text-secondary">Preencha o formulário, em breve retornaremos o seu contato</p>
<form class="my-5">
    <label class="form-label">Nome</label>
    <input type="text" name="" id=""  class="form-control">
    <label class="form-label">Contato</label>
    <input type="text" name="" id=""  class="form-control">
    <label class="form-label">Assunto</label>
    <textarea  class="form-control"></textarea>
    <button type="submit" class="btn btn-primary btn-sm my-3">Enviar</button>
</form>
{% endblock %}