<footer>
    <div class="row">

        <div class="contact-tools py-5 col-4">
            <a href="https://www.instagram.com/igrejabv2/" target="_blank"><ion-icon name="logo-instagram" class=" fs-4"></ion-icon><p>Instagram</p></a>
            <a href="https://www.youtube.com/channel/UCg5MCQhZJ6xByy2-UL-fXJg" target="_blank"><ion-icon name="logo-youtube" class=" fs-4"></ion-icon><p>YouTube</p></a>
            <a href="{% url 'contato' %}"><ion-icon name="chatbubbles-outline" class="fs-4"></ion-icon><p>Contato</p></a>
        </div>

        <div class="contact-tools py-5 col-4">
            <a href="{url 'contato'}"><ion-icon name="megaphone-outline" class=" fs-4"></ion-icon><p>Anuncie conocsco</p></a>
            <a href="{url 'contato'}"><ion-icon name="people-circle-outline" class=" fs-4"></ion-icon><p>Seja um parceiro</p></a>
        </div>
        
        <div class="contact-tools py-5 col-4">
            <a href=""><ion-icon name="location-outline" class=" fs-4"></ion-icon><p>Visite-nos</p></a>
            <a href=""><ion-icon name="location-outline" class=" fs-4"></ion-icon><p>Veja a nossa programação</p></a>
        </div>
    </div>
</footer>