{% extends 'base.html' %} {% block content %}
<h2 class="mt-5 text-center" data-aos="zoom-in" data-aos-duration="1000">
  Somos a igreja Betel do Valentina II
</h2>
<h2 class="text-center lema" data-aos="zoom-in" data-aos-duration="1000">
  Conhecer, Amar e Servir
</h2>
<div class="text-center">
    <img src="/static/imagens/ImagemSobre.png" alt="imagem da página sobre, pastor Maurílio Guimarães" class="imagem-sobre">
</div>
<p class="p-5">
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus numquam
  distinctio perferendis voluptatem rem in dicta quidem ea deserunt recusandae
  itaque necessitatibus voluptatibus, porro sapiente ullam tempora, tenetur
  soluta natus! Ullam voluptatibus rem accusantium necessitatibus deserunt sequi
  suscipit et repudiandae, officia non nihil eum minus quaerat. Nulla explicabo
  minus, illum inventore, quam nisi sit cumque pariatur rerum officia
  praesentium beatae! Soluta, nisi quae aliquam natus, unde nesciunt animi harum
  magni architecto illum dignissimos. Eum distinctio consectetur molestiae nihil
  fuga recusandae aliquam dignissimos obcaecati ratione cum, alias maiores?
  Quos, dolores recusandae! Omnis, ducimus asperiores distinctio assumenda porro
  nihil. Facilis fugiat voluptatum suscipit iste, repudiandae aperiam voluptates
  similique quidem culpa dicta quam sed placeat tenetur velit blanditiis?
  Molestias exercitationem nobis nam vel! Cum, deleniti adipisci placeat omnis
  beatae ipsam repellat nihil voluptas itaque temporibus voluptate error,
  aspernatur porro commodi eligendi aut tempore quo? Eligendi, ducimus harum
  quaerat labore eaque ratione fugiat est. Perferendis quo non ut porro vero, id
  esse? Labore atque nemo fugiat odio unde pariatur. Sunt officia modi
  laboriosam. Enim laudantium consequuntur, officiis deleniti rerum expedita
  recusandae dicta reiciendis nulla! Esse, nisi necessitatibus assumenda quis
  similique fugiat qui corporis porro facere tempora repudiandae enim deserunt
  laboriosam rem placeat, provident culpa doloremque modi mollitia possimus
  distinctio facilis accusantium? Officia, nisi eum. Sed necessitatibus repellat
  vitae cum at, aperiam odit unde odio. Molestiae vero asperiores reprehenderit,
  dolores unde eius iste enim tempora! Repudiandae possimus non commodi itaque
  architecto, similique nemo corrupti eos. Vitae corrupti cumque repellendus
  explicabo eius aperiam sit fuga sed, quos, dolor modi vero voluptate inventore
  quidem sequi accusamus atque fugiat quisquam nam officia? Qui placeat aperiam
  animi at repellendus. Consequatur dolorem mollitia consequuntur blanditiis?
  Ipsam expedita natus alias iusto odit ullam, assumenda officiis dignissimos!
  Repellendus ullam quo perspiciatis excepturi illum modi omnis, vitae nobis
  officia architecto iste maiores delectus.
</p>
{% endblock %}
